{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class='row top-div'>
		<div class='col'>
        <a href="{{ url_for('main.library') }}#exercise-{{ exercise['id'][0] }}">Back to Exercises</a>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class='col'>
			<h1>{{exercise['name'][0]}}</h1>
			<form method="post" action="{{ url_for('main.details', exercise_id=exercise['id'][0]) }}">
				<div class="mb-3">
					<textarea name="description" class="form-control" rows="4">{{ exercise['description'][0] }}</textarea>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>
	<br>
	{% if exercise['link'][0] %}
		<div class="row">
			<div class='col'></div>
				<a target=”_blank”  href="{{exercise['link'][0]}}">Learn more</a>
			</div>
		</div>
		<br>
	{% endif %}
{% if exercise['video_slug'][0] %}
    <div class="row mb-4">
        <div class="col text-center">
            <video controls
                   class="mx-auto d-block"
                   style="max-width:400px; width:100%; height:auto;"
                   preload="metadata">
                <source src="{{ url_for('static', filename='workout_content/' ~ exercise['video_slug'][0]) }}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
{% endif %}

	<div class='row'>
		<div class='col'>
			{% if exercise['is_default_exercise'][0] == 1 %}
				<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Cannot delete default exercise">Delete Exercise</button>
			{% else %}
				<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteExercise">Delete Exercise</button>
			{% endif %}
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" id="deleteExercise">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Delete Exercise</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<form action="{{url_for('main.delete_exercise', exercise_id=exercise['id'][0])}}" method="post" enctype="multipart/form-data" >
			<div class="modal-body">
				<p>Are you sure you want to delete {{exercise['name'][0]}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-danger">Delete</button>
			</div>
		</form>
	  </div>
	</div>
  </div>
{% endblock %}
{% block scripts %}
<script>
	const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
	const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))		
</script>
{% endblock %}