{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class='row top-div'>
		<div class='col'>
			<div class="page-header">
				<div>
					<h1 class="page-title">Workout Log</h1>
					<p class="page-subtitle mb-0">Review past workouts and progress here.</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class='col-12 col-lg-8 mx-auto'>
			<div class="filter-toolbar">
				<div class="filter-search">
					<input class="form-control" type="search" placeholder="Search workout logs" onkeyup="searchResults(this)">
				</div>
				<button class="btn btn-dark filter-toggle filter-trigger-btn" type="button" data-bs-toggle="collapse" data-bs-target="#filterInnerDiv" aria-expanded="false" aria-controls="filterInnerDiv" aria-label="Filter logs" title="Filter logs">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
						<path d="M6 10.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm7-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
						<path d="M1 10.5a.5.5 0 0 1 .5-.5H3a.5.5 0 0 1 0 1H1.5a.5.5 0 0 1-.5-.5zm0-5A.5.5 0 0 1 1.5 5H10a.5.5 0 0 1 0 1H1.5A.5.5 0 0 1 1 5.5zm9 5a.5.5 0 0 1 .5-.5H14.5a.5.5 0 0 1 0 1H10.5a.5.5 0 0 1-.5-.5z"/>
					</svg>
				</button>
			</div>
			<div class="filter-popout" id='filterDiv'></div>
			<div class="table-responsive p-3">
			<table class='table'>
				<tr>
						<th>Date Completed</th>
						<th>Workout</th>
						<th>Details</th>
				</tr>

				{% for i, v in logs.iterrows() %}
					<tr id="{{i}}">
						<td tag="created_at" parentId="{{i}}">
							{% if v['completed_at'] %}
								<span data-local-datetime="{{ v['completed_at'] }}"></span>
							{% else %}
								<span class="badge text-bg-warning">In progress</span>
							{% endif %}
						</td>
						<td searchtag='resultData' parentId="{{i}}">{{v['workout_name']|capitalize()}}</td>
						<td><a href="{{url_for('main.log_details', log_id=v['id'])}}">See More</a></td>
					</tr>
				{% endfor %}
		</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script type="text/javascript" >
	window.onload = function loadPageOptions() {
		renderLocalDateTimes();
	};
	createDateFilter({{data_cols | tojson | safe}}, {{col_data | tojson | safe}}, 'filterDiv', false);
</script>
{% endblock %}
