{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class='row top-div'>
		<div class='col'>
			<h1>Workout Log</h1>
			<p>Review past workouts and progress here</p>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class='col-sm-2 side-div order-md-0 order-1' id='filterDiv'>
			<h3>Filter Results</h3>
		</div>
		<div class='col-sm-8 order-md-1 order-2'>
			<table class='table'>
				<tr>
						<th>Date Completed</th>
						<th>Workout</th>
						<th>Details</th>
				</tr>

				{% for i, v in logs.iterrows() %}
					<tr id="{{i}}">
						<td tag="created_at" parentId="{{i}}">
							{% if v['completed_at'] %}
								<span data-local-datetime="{{ v['completed_at'] }}"></span>
							{% else %}
								<span class="badge text-bg-warning">In progress</span>
							{% endif %}
						</td>
						<td>{{v['workout_name']|capitalize()}}</td>
						<td><a href="{{url_for('main.log_details', log_id=v['id'])}}">See More</a></td>
					</tr>
							</div>
						</div>
					</div>
				{% endfor %}
		</table>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script type="text/javascript" >
	window.onload = function loadPageOptions() {
		renderLocalDateTimes();
	};
	createDateFilter({{data_cols | tojson | safe}}, {{col_data | tojson | safe}}, 'filterDiv', false);
</script>
{% endblock %}
