{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class='row top-div'>
		<div class='col'>
			<h1>Workouts</h1>
			<p>Create, edit and execute your custom workouts</p>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class='col-sm-2 side-div order-md-0 order-1', id='filterDiv'>
			<button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#filterInnerDiv" aria-expanded="true" aria-controls="#filterInnerDiv">
				Filter Items
			</button>
			<br>
			<br>
		</div>
		<div class='col-sm-8 order-md-1 order-2'>
			{% for i, v in workouts.iterrows() %}
				<div id="{{v['name']}}" class='row' style='padding-bottom: 15px;'>
					<div class="card" style="border:none;background-color: #f5f5f5;">
						<div class="card-body">
							<h5 class="card-title" name="{{v['name']}}" parentId="{{v['name']}}" searchtag='resultData'>{{v['name']}}</h5>
							<p class="card-text">{{v['description']}}</p>
							<span class="badge text-bg-dark" tag='type' parentId="{{v['name']}}">{{v['type']}}</span>
							{% if v['shared_from_name'] %}
								<span class="badge text-bg-secondary">Shared from {{ v['shared_from_name'] }}</span>
							{% endif %}
							<br>
							<br>
							<a href="{{url_for('main.workout_details', workout_id=v['id'])}}" class="card-link">See Details</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script>
	createFilters({{data_cols | tojson | safe}}, {{col_data | tojson | safe}}, 'filterDiv');
</script>
{% endblock %}
